/* background.css */
body {
    background-color: #ffffff; /* Latar belakang abu-abu */
    font-family: Arial, Helvetica, sans-serif; /* Font default */
    margin: 0;
    padding: 0;
    height: 100vh; /* Pastikan body mengambil seluruh tinggi layar */
  }
  

  

  